.color{
    color: #ef6c9e;
}
.inputt {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid rgb(125, 125, 125);
    margin-right: 50px;
    margin-bottom: 20px;
}
.inputt:focus{
    border-bottom: 3px solid rgb(0, 8, 255);

}