@keyframes sliding{
    0%{left: 0%; }
    20%{left: -100%;}
    40%{left: -200%;}
    60%{left: -300%;}
    80%{left: -400%;}
    100%{left: 0%;}
}        
@keyframes indicating{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}  
/* Slider indicator */
.indicator{
    width: 100%;
    max-width: 720px;
    height: 6px;
    background: #dddddd;
    position: absolute;
    bottom: 0;
    
    animation: indicating 5s ease infinite; 
    
}
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s sliding ease infinite; 
}
.auto-slider{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 10px 10px 20px;
    background: #fff;
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}
.statment1{
    font-family: cursive;
    border-radius: 500px;
    width: 500px;
    margin-top: 5%;
    height: 30%;
    color: rgb(244 122 169);
    background-color: rgb(205, 255, 255);
    padding: 30px;
    text-align: center;
}